.swim-lane-container {
  height: 100%;
  margin-top: -70px;
  padding-top: 70px;
  padding-bottom: 20px;
}

.swim-lane-wrapper {
  height: 100%;
}

.swim-lane {
  background-color: #337ab7;
  border-radius: 8px;
  padding: 5px;
  position: relative;
  height: 100%;

  .swim-lane-title {
    color: white;
    font: {
      size: 2rem;
      weight: bold;
    }
    height: 30px;
    padding-left: 2px;
  }

  .swim-lane-content {
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 35px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    padding: 5px;
  }

  ul[dnd-list] {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    ul[dnd-list] > li {
      position: relative;
    }
  }

  .task {
    border: solid 1px #286090;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;

    .task-header {
      font-size: 1.8rem;
      font-weight: bold;

      a {
        color: black;
      }

      .glyphicon-remove {
        opacity: 0;
        color: #cccccc;
      }

      &:hover .glyphicon-remove{
        opacity: 1;
      }
    }

    .task-description {
      border-top: solid 1px #dddddd;
      margin-top: 5px;
      padding: 10px 5px 0 5px;
    }
  }
}
